
    <%# <div class="container"> %>
        <!-- Page Content goes here -->
        <%# <div class="row">

            <div class="col s4 m4 z-depth-4"><img class="cake" src="/images/blackforestcake.jpg">
</div>
            <div class="col s4 m4 z-depth-4"><img class="cake" src="/images/classiccakes.jpg">
</div>
            <div class="col s4 m4 z-depth-4"><img class="cake" src="/images/panda-cake.png">
</div>

                </div>

        <div class="row">

            <div class="col s4 m2"><img class="cake" src="/images/s1.jpg">
</div>
            <div class="col s4 m2"><img class="cake" src="/images/s1.jpg">
</div>
            <div class="col s4 m2"><img class="cake" src="/images/s1.jpg">
</div>

                </div>

        <div class="row">

            <div class="col s4 m2"><p>s12 m4</p></div>
            <div class="col s4 m2"><p>s12 m4</p></div>
            <div class="col s4 m2"><p>s12 m4</p></div>

                </div> %>
    <%# </div> %>
<h4>WE MAKE CAKES FOR ALL OCCASIONS AND PARTIES</h4>

    <section>

<div class="row">
    <div class="col s4 m4">
        <div class="card">
             <div class="card-image waves-effect waves-block waves-light">
                 <img class="cookies responsive-img" src="/images/blackforestcak.jpg">
            </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Black Forest Cake<i class="material-icons right">more_vert</i></span>
                <p>$24.50</p>
                     </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Black Forest Cake<i class="material-icons right">close</i></span>
                        <p>Rich chocolate cake layers with fresh cherries, cherry liqueur, and a simple whipped cream frosting.</p>
                    </div>
            </div>
    </div>
    
<div class="row">
    <div class="col s4 m4">
        <div class="card">
             <div class="card-image waves-effect waves-block waves-light">
                 <img class="cookies responsive-img" src="/images/chocolatecake.jpg">
            </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Chocolate Cake<i class="material-icons right">more_vert</i></span>
                <p>$24.50</p>
                     </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Chocolate Cake<i class="material-icons right">close</i></span>
                        <p>Three layers of mouth melting and moist chocolatey pleasure.</p>
                    </div>
            </div>
    </div>
    
<div class="row">
    <div class="col s4 m4">
        <div class="card">
             <div class="card-image waves-effect waves-block waves-light">
                 <img class="cookies responsive-img" src="/images/strawberrycake.jpg">
            </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Strawberry Cake<i class="material-icons right">more_vert</i></span>
                <p>$24.50</p>
                     </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Strawberry Cake<i class="material-icons right">close</i></span>
                        <p>One of our favorites. You cant go wrong with this cake.</p>
                    </div>
            </div>
    </div>
    </section>
        <section>

<div class="row">
    <div class="col s4 m4">
        <div class="card">
             <div class="card-image waves-effect waves-block waves-light">
                 <img class="cookies responsive-img" src="images/panda-cake.png">
            </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Custom Fondant Cakes<i class="material-icons right">more_vert</i></span>
                <p>$30.00+</p>
                     </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Custom Fondant Cakes<i class="material-icons right">close</i></span>
                        <p>We make all kinds of crazy custom fondant cakes. :)</p>
                    </div>
            </div>
    </div>
    
<div class="row">
    <div class="col s4 m4">
        <div class="card">
             <div class="card-image waves-effect waves-block waves-light">
                 <img class="cookies responsive-img" src="images/classiccake.jpg">
            </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Classical Cakes<i class="material-icons right">more_vert</i></span>
                <p>$30.00+</p>
                     </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Classical Cakes<i class="material-icons right">close</i></span>
                        <p>We make cakes for every occasion.</p>
                    </div>
            </div>
    </div>
    
<%# <div class="row">
    <div class="col s4 m4">
        <div class="card">
             <div class="card-image waves-effect waves-block waves-light">
                 <img class="cookies responsive-img" src="images/chocolate.jpg">
            </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Oatmeal Raisin Cookie<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
                     </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
            </div>
    </div> %>
    </section>
    <br>
<br>
