<%# <html>
<head>

</head>
<body>
    <div class="container">
        <!-- Page Content goes here -->
        <div class="row">

            <div class="col s4 m2"><p>s12 m4</p></div>
            <div class="col s4 m2"><p>s12 m4</p></div>
            <div class="col s4 m2"><p>s12 m4</p></div>

                </div>

        <div class="row">

            <div class="col s4 m2"><p>s12 m4</p></div>
            <div class="col s4 m2"><p>s12 m4</p></div>
            <div class="col s4 m2"><p>s12 m4</p></div>

                </div>

        <div class="row">

            <div class="col s4 m2"><p>s12 m4</p></div>
            <div class="col s4 m2"><p>s12 m4</p></div>
            <div class="col s4 m2"><p>s12 m4</p></div>

                </div>
    </div>

</body>

</html>  %>
<H4>FRESH BAKED COOKIES MADE DAILY.. ALL COOKIES ARE 3.5 oz.</H4>

    <section>

<div class="row">
    <div class="col s4 m4">
        <div class="card">
             <div class="card-image waves-effect waves-block waves-light">
                 <img class="cookies responsive-img" src="images/orcc.jpg">
            </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Oatmeal Raisin<i class="material-icons right">more_vert</i></span>
                <p>$5.50 each</p>
                     </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Oatmeal Raisin<i class="material-icons right">close</i></span>
                        <p>Probably the best oatmeal raisin cookie youre ever going to try.</p>
                    </div>
            </div>
    </div>
    
<div class="row">
    <div class="col s4 m4">
        <div class="card">
             <div class="card-image waves-effect waves-block waves-light">
                 <img class="cookies responsive-img" src="images/cookieccc.jpg">
            </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Chocolate & Walnut<i class="material-icons right">more_vert</i></span>
                <p>$5.50 each</p>
                     </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Chocolate & Walnut Cookie<i class="material-icons right">close</i></span>
                        <p>The perfect combination of chocolate, walnut and cookie.</p>
                    </div>
            </div>
    </div>
    
<div class="row">
    <div class="col s4 m4">
        <div class="card">
             <div class="card-image waves-effect waves-block waves-light">
                 <img class="cookies responsive-img" src="images/chocolatee.jpg">
            </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Double Chocolate<i class="material-icons right">more_vert</i></span>
                <p>$5.50 each</p>
                     </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Double Chocolate Cookie<i class="material-icons right">close</i></span>
                        <p>A double chocolatey madness in your mouth. </p>
                    </div>
            </div>
    </div>
</section>

    <section>

<div class="row">
    <div class="col s4 m4">
        <div class="card">
             <div class="card-image waves-effect waves-block waves-light">
                 <img class="cookies responsive-img" src="images/pb2.jpeg">
            </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Peanutbutter & Chocolate<i class="material-icons right">more_vert</i></span>
                <p>$5.50 each</p>
                     </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Peanutbutter & Chocolate Cookie<i class="material-icons right">close</i></span>
                        <p>Ooey Gooey peanutbutter and chocolate deliciousness.</p>
                    </div>
            </div>
    </div>
    
<div class="row">
    <div class="col s4 m4">
        <div class="card">
             <div class="card-image waves-effect waves-block waves-light">
                 <img class="cookies responsive-img" src="images/assorted.jpg">
            </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Assorted Pack<i class="material-icons right">more_vert</i></span>
                <p>$21.00 each</p>
                     </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Assorted Pack<i class="material-icons right">close</i></span>
                        <p>Four assorted cookies that come gift wrapped for occasions.</p>
                    </div>
            </div>
    </div>
    
<%# <div class="row">
    <div class="col s4 m4">
        <div class="card">
             <div class="card-image waves-effect waves-block waves-light">
                 <img class="cookies responsive-img" src="images/chocolate.jpg">
            </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Oatmeal Raisin Cookie<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
                     </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
            </div>
    </div> %>
</section>
<br>
<br>

<%# <div class="row">
    <div class="col s4 m4">
        <div class="card">
             <div class="card-image waves-effect waves-block waves-light">
                 <img class="activator" src="images/oatmealraisin.jpg">
            </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Oatmeal Raisin Cookie<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
                     </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
            </div>
    </div>
    
<div class="row">
    <div class="col s4 m4">
        <div class="card">
             <div class="card-image waves-effect waves-block waves-light">
                 <img class="activator" src="images/oatmealraisin.jpg">
            </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Oatmeal Raisin Cookie<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
                     </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
            </div>
    </div>
    
<div class="row">
    <div class="col s4 m4">
        <div class="card">
             <div class="card-image waves-effect waves-block waves-light">
                 <img class="activator" src="images/oatmealraisin.jpg">
            </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Oatmeal Raisin Cookie<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
                     </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
            </div>
    </div> %>
