<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <%# <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/> %>
    <%# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"> %>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Zeyada" rel="stylesheet">

    <link rel="icon" href="/images/logo.png" type="image/png" sizes="16x16">
    <title>Shop Baked Always</title>
    


</head>

<body>

    <%# <img class="background" src"/images/bg.jpg"> %>

    <div class="container">


  <nav class="navbar">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">Always Baked Shop❦</a>
      <ul class="navv left">
        <li><a class="navbutton" href="/cakes">Cakes</a></li>
        <li><a class="navbutton"href="/cookies">Cookies</a></li>
        <li><a class="navbutton"href="/muffins">Muffins</a></li>
      </ul>
      <ul class="nav right">
        <li><a class="navbuttonn"href="/contact">Contact Us / Info</a></li>
      </ul>
    </div>
  </nav>

      <%= yield %>

    </div>

<%# <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script> %>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<%# <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script> %>
<%# <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script> %>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="main.js"></script>

<body>

<footer>
  <ul class="footer">
    <li class="footer-items check">@Always_Baked</li>
    <li class="footer-items"><a href="https://www.instagram.com" target="_blank"><img src="/images/instagram.png"></a></li>

  </ul>
</footer>

</html>
