
    <%# <div class="container">
        <!-- Page Content goes here -->
        <div class="row">

            <div class="col s4 m2"><p>s12 m4</p></div>
            <div class="col s4 m2"><p>s12 m4</p></div>
            <div class="col s4 m2"><p>s12 m4</p></div>

                </div>

        <div class="row">

            <div class="col s4 m2"><p>s12 m4</p></div>
            <div class="col s4 m2"><p>s12 m4</p></div>
            <div class="col s4 m2"><p>s12 m4</p></div>

                </div>

        <div class="row">

            <div class="col s4 m2"><p>s12 m4</p></div>
            <div class="col s4 m2"><p>s12 m4</p></div>
            <div class="col s4 m2"><p>s12 m4</p></div>

                </div>
    </div> %>

    <H4>ALL MUFFINS ARE MADE FRESH DAILY..</H4>
    <section>

<div class="row">
    <div class="col s4 m4">
        <div class="card">
             <div class="card-image waves-effect waves-block waves-light">
                 <img class="muffins responsive-img" src="images/applecrumbl.jpg">
            </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Apple Crumble<i class="material-icons right">more_vert</i></span>
                <p>$3.50 each</p>
                     </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
            </div>
    </div>
    
<div class="row">
    <div class="col s4 m4">
        <div class="card">
             <div class="card-image waves-effect waves-block waves-light">
                 <img class="muffins responsive-img" src="images/mg.jpg">
            </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Morning Glory<i class="material-icons right">more_vert</i></span>
                <p>$3.50 each</p>
                     </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
            </div>
    </div>
    
<div class="row">
    <div class="col s4 m4">
        <div class="card">
             <div class="card-image waves-effect waves-block waves-light">
                 <img class="muffins responsive-img" src="images/blueberry2.jpg">
            </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Blueberry<i class="material-icons right">more_vert</i></span>
                <p>$3.50 each</p>
                     </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
            </div>
    </div>
    </section>
        <section>

<div class="row">
    <div class="col s4 m4">
        <div class="card">
             <div class="card-image waves-effect waves-block waves-light">
                 <img class="muffins responsive-img" src="images/raspberrymuffin.jpg">
            </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Raspberry<i class="material-icons right">more_vert</i></span>
                <p>$3.50 each</p>
                     </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
            </div>
    </div>
    
<div class="row">
    <div class="col s4 m4">
        <div class="card">
             <div class="card-image waves-effect waves-block waves-light">
                 <img class="muffins responsive-img" src="images/cmuffin.jpg">
            </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">CHocolate<i class="material-icons right">more_vert</i></span>
                <p>$3.50 each</p>
                     </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
            </div>
    </div>
    
<%# <div class="row">
    <div class="col s4 m4">
        <div class="card">
             <div class="card-image waves-effect waves-block waves-light">
                 <img class="muffins responsive-img" src="images/chocolate.jpg">
            </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Oatmeal Raisin Cookie<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
                     </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
            </div>
    </div> %>
    </section>
    <br>
<br>
